$font-name : 'NotoSansCJKkr';
$font-name-secondary : 'Montserrat';
$font-name-third : 'BlackHanSans';
$font-path : '../fonts/';

$fonts : ('Thin' : 100, 'Light' : 300, 'DemiLight' : 300, 'Regular' : 400, 'Medium' : 500, 'Bold' : 700, 'Black' : 900);
$fonts-secondary : ('Regular' : 400, 'Medium' : 500, 'Bold' : 700, 'ExtraBold' : 800, 'Black' : 900);

/** =================== NotoSansCJKkr =================== **/
@each $fonts, $size in $fonts {
	@font-face {
		font-family: #{$font-name};
		font-weight: $size;
		font-style: normal;
		src : url('#{$font-path}#{$font-name}-#{$fonts}.woff2') format('woff2'), url('#{$font-path}#{$font-name}-#{$fonts}.otf') format('opentype');
	}
}

/** =================== Montserrat =================== **/
@each $fonts, $size in $fonts-secondary {
	@font-face {
		font-family: #{$font-name-secondary};
		font-weight: $size;
		font-style: normal;
		src: url('#{$font-path}#{$font-name-secondary}-#{$fonts}.woff2') format('woff2'), url('#{$font-path}#{$font-name-secondary}-#{$fonts}.woff') format('woff'), url('#{$font-path}#{$font-name-secondary}-#{$fonts}.otf') format('opentype');
	}
}

/** =================== Black Han Sans =================== **/
@font-face {
	font-family: #{$font-name-third};
	font-weight: 400;
	font-style: normal;
	src : url('#{$font-path}#{$font-name-third}-Regular.woff') format('woff'), url('#{$font-path}#{$font-name-third}-Regular.otf') format('opentype');
}