@charset "UTF-8";

.skipNavi { position: absolute; top: 0; left: 0; width: 100%; }
.skipNavi a { display: block; background: red; color: white; font-size: 0; }
.skipNavi a:focus { font-size: 14px; }

em { font-style: normal; }

#container { clear: both; display: flex; flex-direction: column; flex-grow: 1; width: 100%; min-width: 280px; height: 100%; background: #ffffff; overflow-y: auto; }
.content-area {background:#e6e6e6 ;}
.inner { width: 100%; padding: 0 24px; }

.ev-event-wrap {
    position: relative;
    min-width: 280px;
    .inner {
        padding: 40px 20px;
    }
    .bg-white {
        background-color: #fff;
    }
    .bg-light {
        background-color: #f0f0f0;
    }
    .bg-dark {
        background-color: #383840;
    }
    img {
        width: 100%;
    }
}
.ev-event-title {
    margin-bottom: 18px;
    text-align: center;
    color: #2d2d35;
    font-family: "BlackHanSans",sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.1;
    &.fc-white {
        color: #fff;
    }
}
.note-txt {
    font-family: "NotoSansCJKkr", sans-serif;
    color: #888;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.35;
    .ff-en {
        font-family: "Montserrat", sans-serif;
    }
    &.fc-white {
        color: #fff;
    }
}
.event-btn {
	display: flex;
	align-items: center;
	justify-content: center;
    font-family: "NotoSansCJKkr", sans-serif;
	font-weight: 700;
    white-space: nowrap;
	border: 0;
    border-radius: 40px;
	&:disabled,
	&.is-disabled,
    &.is-complete {
        pointer-events: none;
	}
    &.is-complete:after {
        content: '완료';
        margin-left: 3px;
    }
    &.btn-type1 {
        padding: 0 28px;
        height: 60px;
		color: #fff;
		font-size: 20px;
        border-radius: 30px;
		background-color: #fc4dad;
        box-shadow: 5px 5px 0 rgba(0, 0, 0, 1);
        &:disabled,
        &.is-disabled,
        &.is-complete {
            background-color: #cbcbcb;
        }
	}
	&.btn-type2 {
        padding: 0 8px;
        height: 30px;
		color: #fff;
		font-size: 13px;
        border-radius: 15px;
		background-color: #3cdc87;
		box-shadow: 2px 1.5px 0 rgba(179, 179, 179, 1);
        &:disabled,
        &.is-disabled,
        &.is-complete {
            color: #888;
            background-color: #eaeaea;
        }
	}
}
[class*='bi-gs25'] img {
    width: auto;
    margin-bottom: -1px;
}
.bi-gs25 {
    &-lg img {
        height: 14px;
    }
    &-md img {
        height: 13px;
    }
    &-sm img {
        height: 12px;
    }
}
// 이벤트 참여방법
.ev-event-guide {
    background-color: #f0f0f0;
    .inner {
        padding-bottom: 60px;
    }
    .guide-list {
        list-style: none;
    }
    .guide-item {
        padding: 20px 15px;
        border-radius: 10px;
        box-shadow: 10px 0 15px rgba(168, 168, 168, 0.16);
        background-color: #fff;
        &:not(:first-child) {
            margin-top: 15px;
        }
    }
    .guide-step {
        display: flex;
        align-items: center;
        .num {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 35px;
            min-width: 35px;
            height: 35px;
            margin-right: 8px;
            padding-top: 2px;
            color: #fff;
            font-family: "Montserrat", sans-serif;
            font-style: normal;
            font-size: 17px;
            font-weight: 900;
            border-radius: 50%;
            background-color: #2d2d35;
        }
        .tit {
            color: #2d2d35;
            font-family: "NotoSansCJKkr", sans-serif;
            font-size: 16px;
            font-weight: 700;
            line-height: 1.1;
            word-break: keep-all;
        }
    }
    .note-txt {
        margin: 5px 0 -5px 43px;
        word-break: keep-all;
    }
}
// 이벤트 유의사항
.ev-event-notice {
    .inner {
        padding-bottom: 50px;
    }
    .notice-title {
        display: flex;
        margin-bottom: 15px; 
        color: #222;
        font-family: "NotoSansCJKkr", sans-serif;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.1;
        &:before {
            content: '!';
            display: flex;
            align-items: center;
            justify-content: center;
            width: 16px;
            min-width: 16px;
            height: 16px;
            margin: 0 8px 0 2px;
            color: #fff;
            font-family: "Montserrat", sans-serif;
            line-height: 1;
            border-radius: 50%;
            background: #a6acb2;
        }
    }
    .notice-list {
        .notice-item {
            padding: 0 2px;
            display: flex;
            align-items: flex-start;
            color: #888;
            font-family: "NotoSansCJKkr", "Montserrat", sans-serif;
            font-size: 12px;
            font-weight: 400;
            line-height: 1.5;
            &:not(:first-child) {
                margin-top: 5px;
            }
            span {
                flex-grow: 1;
            }
        }
        &.dot-type .notice-item:before {
            content: '';
            width: 2px;
            min-width: 2px;
            height: 2px;
            margin: 9px 5px 0;
            border-radius: 50%;
            background-color: #888;
        }
    }
}
// 충전실적 메인
.charging-main {
    position: relative;
    .ev-event-period {
        position: absolute;
        top: 6%;
        left: 5.34%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 5.34% 0 4%;
        height: 3.75%;
        color: #000;
        font-size: 28px;
        font-weight: 500;
        line-height: 1.1;
        border-radius: 50px;
        background-color: #fff;
        box-shadow: 3px 3px 0 rgba(0, 0, 0, 1);
        z-index: 1;
        .ff-en {
            font-family: "Montserrat", sans-serif;
        }
    }
    .ic-deco {
        position: absolute;
        left: 1.46%;
        bottom: -14.4%;
        display: block;
        width: 37.33%;
        z-index: 30;
    }
}
// 충전게이지
.charging-gauge {
    .inner {
        position: relative;
        padding: 0 5.3333%;
        margin-top: -79.2%;
        &:after,
        .btn-engagement {
            display: none;
        }
    }
    .gauge-area {
        position: relative;
        width: 100%;
        padding-top: (650/670) * 100%;
    }
    .bg-gauge {
        position: absolute;
        top: 21.79%;
        left: 50%;
        display: block;
        width: 100%;
        padding-top: 55.2239%;
        background: url(../images/ev_event/event_bg_gauge.png) no-repeat right center / auto 100%;
        transform: translateX(-50%);
        z-index: 1;
    }
    .ic-notice-group {
        &.get1 {
            .coupon1 {
                background-image: url(../images/ev_event/event_coupon_01_get.png);
            }
        }
        &.get2 {
            .coupon1 {
                background-image: url(../images/ev_event/event_coupon_01_get.png);
            }
            .coupon2 {
                background-image: url(../images/ev_event/event_coupon_02_get.png);
            }
        }
        &.get3 {
            .coupon1 {
                background-image: url(../images/ev_event/event_coupon_01_get.png);
            }
            .coupon2 {
                background-image: url(../images/ev_event/event_coupon_02_get.png);
            }
            .coupon3 {
                background-image: url(../images/ev_event/event_coupon_03_get.png);
            }
        }
    }
    .ic-notice {
        position: absolute;
        display: block;
        width: 23.134%;
        padding-top: 23.134%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        z-index: 5;
        &.coupon1 {
            top: 5.07%;
            left: -0.6%;
            background-image: url(../images/ev_event/event_coupon_01.png);
        }
        &.coupon2 {
            top: 3.73%;
            right: 0.9%;
            background-image: url(../images/ev_event/event_coupon_02.png);
        }
        &.coupon3 {
            bottom: -1.8%;
            right: 1.8%;
            background-image: url(../images/ev_event/event_coupon_03.png);
        }
    }
    .gauge-circle {
        &-wrap {
            overflow: hidden;
            position: absolute;
            top: 26%;
            left: 50%;
            width: 88.625%;
            padding-top: 60%;
            transform: translateX(-51%);
            z-index: 2;
        }
        &-inner {
            position: absolute;
            top: 0;
            width: 100%;
        }
        &-progress {
            transform: rotate(-180deg);
            width: 100%;
            height: 100%;
        }
        &-frame, 
        &-bar {
            fill: none;
            stroke-linecap: round;
        }
        &-frame {
            stroke: #ddd;
            stroke-dasharray: 1759; 
            stroke-dashoffset: 880;
        }
        &-bar {
            stroke: #2df87c;
        }
    }
    .gauge-arrow {
        position: absolute;
        top: 33.4%;
        left: 12%;
        width: 74.325%;;
        padding-top: 74.325%;
        border-radius: 50%;
        z-index: 1;
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            display: block;
            border-top: 18px solid transparent;
            border-right: 30px solid #000;
            border-bottom: 18px solid transparent;
            transform: translateY(-50%);
        }
    }
    .gauge-info {
        position: absolute;
        top: 32.5%;
        left: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 92.24%;
        height: 54.77%;
        text-align: center;
        background: url(../images/ev_event/event_bg_info.png) no-repeat right center / auto 100%;
        transform: translateX(-50%);
        z-index: 3;
        .tit {
            font-family: "BlackHanSans",sans-serif;
            font-size: 48px;
            font-weight: 400;
            line-height: 1.3;
        }
        .wattage {
            font-family: "Montserrat", sans-serif;
            font-size: 37px;
            font-weight: 700;
            line-height: 1.1;
            .gauge-value {
                font-size: 102px;
                font-weight: 700;
            }
        }
    }
    // gauge value 확인용
    #gaugeControl {
        position: absolute;
        bottom: 15%;
        left: 50%;
        transform: translateX(-50%);
        opacity: 1;
        z-index: 999;
    }
    // 로그인 전
    &.is-logout {
        .inner {
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 20px;
                right: 20px;
                bottom: 0;
                display: block;
                border-radius: 10px;
                background-color: rgba(0, 0, 0, .85);
                z-index: 28;
            }
            .btn-engagement {
                position: absolute;
                top: 50%;
                left: 50%;
                display: flex;
                transform: translate(-50%, -50%);
                z-index: 29;
            }
        }
    }
}

// 혜택 쿠폰
.charging-benefit {
    .event-coupon-list {
        position: relative;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        padding: 28px 0 18px;
        border-radius: 10px;
        box-shadow: 5px 3px 15px 0 rgba(0, 0, 0, 0.45);
        background-color: #fff;
        overflow: hidden;
        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            display: block;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            transform: translateY(-50%);
        }
        &:before {
            left: -11px;
            background-color: #323239;
        }
        &:after {
            right: -11px;
            background-color: #26262b;
        }
    }
    .event-coupon-item {
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: calc((1/3) * 100%);
        padding: 0 4%;
        &:not(:last-child):before {
            content: '';
            position: absolute;
            top: 3px;
            right: 0;
            bottom: 40px;
            border-left: 1px dashed #c1c1c1;
        }
        .coupon-name {
            margin: 6px 0 13px;
            color: #575c62;
            font-family: "NotoSansCJKkr", sans-serif;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.2;
            word-break: keep-all;
        }
        .event-btn {
            margin-top: auto;
        }
    }
    .ic-tag {
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
        width: 65px;
        height: 65px;
    }
    .ic-coupon {
        display: inline-block;
        width: 50px;
        height: 50px;
        margin: 0 auto;
    }
    .note-txt {
        margin-bottom: 6px;
        opacity: 0.8;
        word-break: keep-all;
    }
}

@media (max-width: 750px) {
    .charging-main .ev-event-period {
        font-size: 3.7333vw;
    }
    .charging-gauge .gauge-info {
        .tit {
            font-size: 6.4vw;
        }
        .wattage {
            font-size: 4.9333vw;
            .gauge-value {
                font-size: 13.6vw;
            }
        }
    }
}